.newYearCounter {
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top:45px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size:35px;


    
}
.countdown{
    text-align: center;
    padding-top:25px;
    font-size:24px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}
.button1{
    background-color:rgb(81, 188, 90);
    color:white;
    font-family:Arial;
    font-size:15px;
    margin-left:260px;    
    margin-top:15px;
    border:none;
    padding-top:13px;
    padding-bottom:13px;
    padding-right:22px;
    padding-left:22px;
    border-radius:12px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.button1:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4); 
    transform: translateY(-2px); 
  }
.Overall{
    display:flex;
    height:645px;
    margin-top:40px;
}
.Left{
    flex:7;
    height:600px;
    margin-right:35px;
    margin-left:30px;
    
}
.Right{
    flex:9;
    background-color:rgb(213, 108, 113);
    height:600px;
    margin-right:30px;
    border-radius:35px;
    color:white;


}
.LeftTop{
    height:285px;
    background-color: #fc8b4a;

    margin-bottom:30px;
    border-radius:35px;

}
.LeftBottom{
    height:285px;
    background-color: #ffe6cc;
    border-radius:35px;

    
}
.pic{
    height:150px;
    width:190px;
    border-radius:65px;
    margin-top:30px;
    margin-left:300px;
    

}
.Name{
   font-size:29px;
   text-align:center;
   font-weight:bold;
}

body{
    background: linear-gradient(90deg, rgba(0,23,128,1) 15%, rgba(92,0,0,1) 86%);
}


.bullet-points ul {
    list-style-type: disc; 
    padding-left: 40px; 
    font-family: Arial, sans-serif; 
    font-size: 20px;
    line-height: 1.6; 
    color:white;

  }
  
  .bullet-points li {
    margin-bottom: 10px; 
  }
  
  .bullet-points li:last-child {
    margin-bottom: 0; 
  }
  